<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>AirGeek</title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script>
		<script src="{% static "js/tableformatter.js" %}"></script>
		<script src="{% static "js/indextable.js" %}"></script>
		<script src="{% static "js/graphlogic.js" %}"></script>
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>	
		</div>
		<div id="manager">
		{% if paths %}
			<p><a href="{{ paths.home_url }}">Home</a>->{{ paths.project }}: Annual Summary</p>
			{% else %}
			{% endif %}
			<p><b><i> Select a page below </i></b></p>
				<table id="airline-summary" class="display compact">
					<thead>
					<tr>
						<th class="key">Airline</th>
						{% for year in years %}
						<th>{{ year }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% if africa|length %}
					<tr>
						<td class="ct">Africa</td>
					</tr>
					{% for page in africa %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					{% if asia|length %}
					<tr>
						<td class="ct">Asia</td>
					</tr>
					{% for page in asia %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					{% if europe|length %}
					<tr>
						<td class="ct">Europe</td>
					</tr>
					{% for page in europe %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					{% if northamerica|length %}
					<tr>
						<td class="ct">North America</td>
					</tr>
					{% for page in northamerica %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					{% if oceania|length %}
					<tr>
						<td class="ct">Oceania</td>
					</tr>
					{% for page in oceania %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					{% if southamerica|length %}
					<tr>
						<td class="ct">South America</td>
					</tr>
					{% for page in southamerica %}
					<tr>

						<td class = "mainkey key"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</td>
						{% for val in page.total_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in page.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
					</tbody>
				</table>
		</div>
		<div id=info>
			<p>1Y% Year on Year change</p>
			<p>2Y% 2 year Compound Annual Growth Rate (CAGR)</p>
			<p>* Data is in RPMs (Revenue Passenger Miles)</p>
			<p>** Data is in RPKs (Revenue Passenger Kilometers)</p>
			<p>^ Data is released quarterly </p>
			<p>^^ Data is released annually</p>

		</div>
	</body>
</html>