<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>AirGeek</title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<!--script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script-->
		<!--script src="{% static "js/indextable.js" %}"></script>
		<script src="{% static "js/graphlogic.js" %}"></script-->
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>	
		</div>
		<div id="manager">
			<p><a href="{{ home }}">Home</a>->{{ project }}: Charts</p>
			{% if continents %}
			{% for continent in continents %}
			{% if continent.pages|length > 0 %}
				<h2>{{continent.name}}</h2>
				<ul>
					{% for page in continent.pages %}
					<li><a href="{{page.url}}">{{page.name}}</a></li>
					{% endfor %}
				</ul>
			{% else %}
			{% endif %}
			{% endfor %}
			{% else %}
			<p> No data available </p>
			{% endif %}
		</div>
	</body>
</html>