<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		{% if paths %}
		<meta charset="UTF-8" user={{ paths.user }} project={{ paths.project.name }} page={{ paths.page.name }} graph={{ paths.graph }}>
		{% else %}
		<meta charset="UTF-8" user=''>
		{% endif %}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>	
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/graphmanager.js" %}"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
	</head>
	<body>
		<img id="tableicon" draggable="false" style="display:none; padding-left: 10px" src={% static "images/tableicon.png" %} onmouseover="this.src='{% static "images/tableiconhover.png" %}'" onmouseout="this.src='{% static "images/tableicon.png" %}'" >
		<img id="calculatoricon" draggable="false" style="display:none; padding-left: 10px" src={% static "images/calculatoricon.png" %} onmouseover="this.src='{% static "images/calculatoriconhover.png" %}'" onmouseout="this.src='{% static "images/calculatoricon.png" %}'" >
		<a id="shovelicon" style="display:none; padding-left: 10px"><img draggable="false" src={% static "images/shovelicon.png" %} onmouseover="this.src='{% static "images/shoveliconhover.png" %}'" onmouseout="this.src='{% static "images/shovelicon.png" %}'" ></a>
		<div id="header">
			<h1> AirGeek </h1>
		</div>
		<div id="manager">
			{% if paths %}
			<p><a href="{{ paths.home_url }}">Home</a>-> <a href="{{paths.project.url}}">{{ paths.project.name }}</a>-><a href="{{paths.page.url}}">{{ paths.page.name }}</a>-> {{paths.graph}}</p>
			{% else %}
			{% endif %}
			<div id="graph-holder"></div>
		</div>
	</body>
</html>