<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<script src="{% static "js/jquery.js" %}"></script>
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
		</div>
		<div id="manager">
			
			<p><b><i> Select a project below </i></b></p>
			{% if projects %}
            	<ul>
                	{% for project in projects %}
					<li><a href="{{project.url}}">{{ project.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
            	<p><b><i>You currently have no projects started.</i></b></p>
			{% endif %}
			
			<table id="airline-summary">
				{% for project in projects %}
					<tr>
						<th>{{project.name}}-2015</th>
						<th colspan="2"> YTD </th>
						
					</tr>
					{% for page in project.pages %}
					<tr>
						<td><a href="{{page.url}}">{{ page.name }}</a><span style="float:right">({{ page.data_type }}|YoY)</span></td>
						{% for val in page.vals %}
						<td id=data> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
				{% endfor %}
				</table>
			
		</div>
		
			
		</div>
	</body>
</html>