<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>AirGeek</title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<!--script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script-->
		<!--script src="{% static "js/indextable.js" %}"></script>
		<script src="{% static "js/graphlogic.js" %}"></script-->
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>	
		</div>
		<div id="manager">
			<h2> Airlines </h2>
			<ul>
				<li><a> Latest Summary </a></li>
				<li><a> Charts </a></li>
				<li><a> 3 Year Monthly Data </a></li>
				<li><a> Annual Summary </a></li>
				<li><a> Forecast </a></li>
			</ul>
		</div>
	</body>
</html>