<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<!--script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script-->
		<script src="{% static "js/indextable.js" %}"></script>
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
			
		</div>
		<div id="manager">
			
			<p><b><i> Select a project below </i></b></p>
			{% if projects %}
            	<ul>
                	{% for project in projects %}
					<li><a href="{{project.url}}">{{ project.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
            	<p><b><i>You currently have no projects started.</i></b></p>
			{% endif %}
			
			<table id="airline-summary" class="display compact">
				<thead>
				{% for project in projects %}
					<tr>
						<th><a href="{{project.url}}">{{project.name}}</a></th>
						{% for column in project.columns %}
							<th> {{column}} </th>
						{% endfor %}		
					</tr>
				</thead>
				<tbody>
					{% for page in project.pages %}
					<tr>
						<td><a href="{{page.url}}">{{ page.name }}</a><span style="float:right">({{ page.data_type }}|YoY)</span></td>
						{% for val in page.vals %}
						<td id=data> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
				{% endfor %}
				</table>
			
		</div>
		
			
		</div>
	</body>
</html>