<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>AirGeek</title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<!--script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script-->
		<script src="{% static "js/indextable.js" %}"></script>
		<script src="{% static "js/graphlogic.js" %}"></script>
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
			
		</div>
		<div id="manager">
			
				<h4><b><u>Summary</u></b></h4>
				<p>Summary tables displaying the Year To Date (YTD) figures for both airlines and airports. Along with the yearly rate of change of the YTD and raw monthly figures. <br>
				The data is represented in a number of ways, please consult the following key for clarification</p>
				<div>
				<h5><b><u>Key</u></b></h5>
				<p>* Data is in RPMs (Revenue Passenger Miles)<br>
				** Data is in RPKs (Revenue Passenger Kilometers)<br>
				^ Data is released quarterly <br>
				^^ Data is released annually</p>
				</div>
				<div>
					<p><br></p>
				</div>
				<table id="airline-summary" class="display compact" >
				<thead>
					<tr>
						<th><a href="{{project.url}}">{{special_name}}</a></th>
						{% for column in columns %}
							<th> {{column}} </th>
						{% endfor %}		
					</tr>
				</thead>
				<tbody style="clear: both">
					{% for page in pages %}
					<tr>
						<td class="mainkey" style="width:200px"><a href="{{page.url}}">{{ page.name }}{{ page.data_type }}{{page.release}}</a><span style="float:right;">Mth</span></td>
						
						{% for val in page.Mthvals %}
						<td class = 'fl'> {{ val }}</td>
						{% endfor %}
					</tr>
					<tr>
						<td class="fl"> YTD </td>
						{% for val in page.YTDvals %}
						<td class='fl'> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="fl"> YTD YoY%</td>
						{% for val in page.YTDYoy %}
						<td class="percentage fl"> {{ val }}</td>
						{% endfor %}
					<tr>
						<td class="fl"> Mth YoY%</td>
						{% for val in page.MthYoy %}
						<td class="percentage fl"> {{ val }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
				</table>
			
		</div>
		
		
		
		
	</body>
</html>