<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/fixed-header/jquery.fixedheadertable.min.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<script src="{% static "js/tableformatter.js" %}"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
	</head>
	<body>
		<div id="header">
			<h1><a href="{{ paths.home_url }}"> AirGeek </a></h1>
		</div>
		<div id="manager">
			{% if paths %}
			<p><a href="{{ paths.home_url }}">Home</a>-> {{ paths.project }}</p>
			{% else %}
			{% endif %}
			<p><b><i> Select a page below </i></b></p>
			<div id="table-holder">
			{% if pages %}
				<table id="airline-summary">
					<thead>
					<tr>
						<th class="key"></th>
						<th colspan="2"> January </th>
						<th colspan="2"> February </th>
						<th colspan="2"> March </th>
						<th colspan="2"> April </th>
						<th colspan="2"> May </th>
						<th colspan="2"> June </th>
						<th colspan="2"> July </th>
						<th colspan="2"> August </th>
						<th colspan="2"> September </th>
						<th colspan="2"> October </th>
						<th colspan="2"> November </th>
						<th colspan="2"> December </th>
					</tr>
					</thead>
					<tbody>
					{% for page in pages %}
					<tr>
						<td class="key"><a href="{{page.url}}">{{ page.name }}</a></td>
						{% for val in page.vals %}
						<td id=data> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
            	<p><b><i>You currently have no pages in this project.</i></b></p>
			{% endif %}
			</div>
		</div>
	</body>
</html>