<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script>
		<script src="{% static "js/tableformatter.js" %}"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
		</div>
		<div id="manager">
			
			<p><b><i> Select a page below </i></b></p>
			{% if pages %}
				<table id="airline-summary" class="display">
					<thead>
					<tr>
						<th class="key"></th>
						<th colspan="2"> January </th>
						<th colspan="2"> February </th>
						<th colspan="2"> March </th>
						<th colspan="2"> April </th>
						<th colspan="2"> May </th>
						<th colspan="2"> June </th>
						<th colspan="2"> July </th>
						<th colspan="2"> August </th>
						<th colspan="2"> September </th>
						<th colspan="2"> October </th>
						<th colspan="2"> November </th>
						<th colspan="2"> December </th>
					</tr>
					</thead>
					<tbody>
					{% for page in pages %}
					<tr>
						<td class = "key"><a href="{{page.url}}">{{ page.name }}</a><span style="float:right">({{ page.data_type }}|YoY)</span></td>
						{% for val in page.vals %}
						<td id=data> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
            	<p><b><i>You currently have no pages in this project.</i></b></p>
			{% endif %}
		</div>
	</body>
</html>