<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> AirGeek </title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/tablecolor.js" %}"></script>
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
		</div>
		<div id="manager">
			
			<p><b><i> Select a page below </i></b></p>
			{% if pages %}
				<table id="airline-summary">
					<tr>
						<th></th>
						<th colspan="2"> January </th>
						<th colspan="2"> February </th>
						<th colspan="2"> March </th>
						<th colspan="2"> April </th>
						<th colspan="2"> May </th>
						<th colspan="2"> June </th>
						<th colspan="2"> July </th>
						<th colspan="2"> August </th>
						<th colspan="2"> September </th>
						<th colspan="2"> October </th>
						<th colspan="2"> November </th>
						<th colspan="2"> December </th>
					</tr>
					{% for page in pages %}
					<tr>
						<td><a href="{{page.url}}">{{ page.name }}</a></td>
						{% for val in page.vals %}
						<td> {{ val }} </td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			{% else %}
            	<p><b><i>You currently have no pages in this project.</i></b></p>
			{% endif %}
		</div>
	</body>
</html>