<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>AirGeek</title>
		<link rel="stylesheet" href="{% static "css/formatting.css" %}" />
		<link rel="stylesheet" href="{% static "js/datatables/media/css/jquery.dataTables.css" %}">
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/dist/jquery.floatThead.min.js" %}"></script>
		<script src="{% static "js/datatables/media/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/datatables/media/js/dataTables.fixedColumns.js" %}"></script>
		<script src="{% static "js/tableformatter.js" %}"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
	</head>
	<body>
		<div id="header">
			<h1> AirGeek </h1>
		</div>
		<div id="manager">
			{% if paths %}
			<p><a href="{{ paths.home_url }}">Home</a>->{{ paths.project }}: Three Year Monthly Data</p>
			{% else %}
			{% endif %}
			<p><b><i> Select a page below </i></b></p>
				<table id="airline-summary" class="display compact">
					<thead>
					<tr>
						<th class="key">Airline</th>
						{% for year in years %}
						<th> Jan {{ year }}</th>
						<th> Feb {{ year }}</th>
						<th> Mar {{ year }}</th>
						<th> Apr {{ year }}</th>
						<th> May {{ year }}</th>
						<th> Jun {{ year }}</th>
						<th> Jul {{ year }}</th>
						<th> Aug {{ year }}</th>
						<th> Sep {{ year }}</th>
						<th> Oct {{ year }}</th>
						<th> Nov {{ year }}</th>
						<th> Dec {{ year }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% if africa|length %}
					<tr>
						<td class="ct">Africa</td>
					</tr>
					{% for link in africa %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					{% if asia|length %}
					<tr>
						<td class="ct">Asia</td>
					</tr>
					{% for link in asia %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					{% if europe|length %}
					<tr>
						<td class="ct">Europe</td>
					</tr>
					{% for link in europe %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					{% if northamerica|length %}
					<tr>
						<td class="ct">North America</td>
					</tr>
					{% for link in northamerica %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					{% if oceania|length %}
					<tr>
						<td class="ct">Oceania</td>
					</tr>
					{% for link in oceania %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					{% if southamerica|length %}
					<tr>
						<td class="ct">South America</td>
					</tr>
					{% for link in southamerica %}
					<tr>
						<td class = "mainkey key"><a href="{{link.url}}">{{ link.name }}{{ link.data_type }}{{link.release}}</td>
						{% for val in link.volume_vals %}
						<td class="fl"> {{ val }} </td>
						{% endfor %}
						
						{% for val in link.latest_vals %}
						<td class="fl"> {{ val }}</td>
						{% endfor %}
						
						{% for val in link.forecast %}
						<td class="fc"> {{ val }}</td>
						{% endfor %}
						
					</tr>
					<tr>
						<td class="key fl"> 1Y %</td>
						{% for val in link.yoy_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					<tr>
						<td class="key fl"> 2Y %</td>
						{% for val in link.yoy2_vals %}
						<td class="percentage fl"> {{ val }} </td>
						{% endfor %}
					</tr>
					
					{% endfor %}
					{% endif %}
					</tbody>
				</table>
			
		</div>
		<div id=info>
			<p>1Y% Year on Year change</p>
			<p>2Y% 2 year Compound Annual Growth Rate (CAGR)</p>
			<p>* Data is in RPMs (Revenue Passenger Miles)</p>
			<p>** Data is in RPKs (Revenue Passenger Kilometers)</p>
			<p>^ Data is released quarterly </p>
			<p>^^ Data is released annually</p>
		</div>
	</body>
</html>