body {
	padding: 0px;
	background-color: #F0F8FF;
}

#header {
	height: 100px;
	background-color: #2C3539;
}

h1 {
	color: white;
	padding: 25px;
}

p {
	color: gray;
}

#manager {
	overflow: scroll;
	width: 100%;
}

table, th, td, tr {
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells: show;
}

td#data{
	text-align: center;
}