body {
	padding: 0px;
	background-color: #F0F8FF;
}

#header {
	height: 100px;
	background-color: #2C3539;
	
}

h1 {
	color: white;
	padding: 25px;
	
	
}

p {
	color: gray;
}

#manager {
	overflow: scroll;
	width: 100%;
}

table {
	border-collapse:separate;
}

table, th, td, tr {
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells: show;
	white-space: nowrap;
}

th {
	background-color: #edeedb;
}

td {
	min-width: 100px;
	margin:0;
}

td.fl{
	text-align: right;
	font-size: 14px;
}

#airline-summary {
	overflow: auto;
}

table#airline-ytd-summary{
	width: 33%;
}

#table-holder {
	width: 100%;
	height: auto;
    overflow-x:scroll;  
    overflow-y:visible;
}

.mainkey {
	background-color: #edeedb;
}

/* unvisited link */
h1 > a:link {
    color: white;
    padding: 25px;
    text-decoration: none;
}

/* visited link */
h1 > a:visited {
    color: white;
    padding: 25px;
    text-decoration: none;
}

a#data_type{
	text-align: right;
}

#info{
	font-size: 10px;
}